{% extends "base.html" %}
{% block title %} Add Question {% endblock %}

{% block content %}
<style>
    body {
        background-color: #f7f7f7;
    }

    .container {
        max-width: 50%;
        margin: auto;
    }

    .quiz-form {
        background-color: #DBE2EF;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 8px;
    }

    .quiz-form:hover {
        transform: scale(1.01);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .quiz-form .form-group {
        margin-bottom: 20px;
    }

    .quiz-form input[type="text"],
    .quiz-form input[type="number"],
    .quiz-form select,
    .quiz-form input[type="datetime-local"] {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .btn {
        background-color: #3F72AF;
        color: #DBE2EF;
    }
</style>

<div class="container">
    <form id="questionForm" action="{{ url_for('views.add_question') }}" class="quiz-form mt-4" method="POST">
        <div class="form-group">
            <label for="question_text">Question:</label>
            <input id="question_text" name="question_text" required type="text">
        </div>

        <div class="form-group">
            <label for="option_a">Option A:</label>
            <input id="option_a" name="option_a" required type="text">
        </div>

        <div class="form-group">
            <label for="option_b">Option B:</label>
            <input id="option_b" name="option_b" required type="text">
        </div>

        <div class="form-group">
            <label for="option_c">Option C:</label>
            <input id="option_c" name="option_c" required type="text">
        </div>

        <div class="form-group">
            <label for="option_d">Option D:</label>
            <input id="option_d" name="option_d" required type="text">
        </div>

        <div class="form-group">
            <label for="correct_option">Correct Option:</label>
            <select id="correct_option" name="correct_option">
                <option value="option_a">Option A</option>
                <option value="option_b">Option B</option>
                <option value="option_c">Option C</option>
                <option value="option_d">Option D</option>
            </select>
        </div>

        <button id="submitButton" class="d-inline-flex align-items-center btn px-4 rounded-pill" type="submit">Submit
            Question
        </button>
        <input id="quiz_id" name="quiz_id" type="hidden" value="{{ quiz_id }}">
        <input id="total_questions" type="hidden" value="{{ total_questions }}">
    </form>
</div>

<script>

</script>

{% endblock %}
