{% extends "base.html" %}
{% block title %}Questions{% endblock %}

{% block content %}
<style>
    .container {
        width: 80%;
        margin: 30px auto;
        text-align: center;
    }

    h1 {
        padding: 25px 0;
    }

    .question-container {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        text-align: left;
        transition: box-shadow 0.3s ease;
        background-color: #DBE2EF;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .question-container:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h3 {
        font-size: 1.3em;
        margin-bottom: 15px;
        color: #333;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    label {
        font-size: 1em;
        color: #666;
    }

    .btn {
        background-color: #3F72AF;
        color: #DBE2EF;
    }
</style>

<div class="container">
    <h1 class="fw-bold">Quiz: {{ quiz.quiz_name }}</h1>

    <form action="{{ url_for('views.attend_quiz_questions', quiz_id=quiz.id) }}" method="POST">
        {% for question in quiz.questions %}
        <div class="question-container">
            <h3>{{ question.question_text }}</h3>
            <label for="option_a_{{ question.id }}">
                <input id="option_a_{{ question.id }}" name="question_{{ question.id }}" type="radio" value="option_a">
                {{ question.option_a }}
            </label><br>
            <label for="option_b_{{ question.id }}">
                <input id="option_b_{{ question.id }}" name="question_{{ question.id }}" type="radio" value="option_b">
                {{ question.option_b }}
            </label><br>
            <label for="option_c_{{ question.id }}">
                <input id="option_c_{{ question.id }}" name="question_{{ question.id }}" type="radio" value="option_c">
                {{ question.option_c }}
            </label><br>
            <label for="option_d_{{ question.id }}">
                <input id="option_d_{{ question.id }}" name="question_{{ question.id }}" type="radio" value="option_d">
                {{ question.option_d }}
            </label><br>
        </div>
        {% endfor %}
        <button class="d-inline-flex align-items-center btn px-4 rounded-pill mt-3 rounded-pill mt-2" type="submit">
            Submit Quiz
        </button>
    </form>
</div>
<script>
    document.addEventListener(
        "contextmenu",
        (e) => {
            e.preventDefault();
        },
        false
    );
</script>
{% endblock %}
