{% extends "base.html" %}
{% block title %} Enroll in a Course {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center">Current Courses</h2>
            <ul class="list-group">
                {% for course, teacher_name in current_courses %}
                <li class="list-group-item">
                    Course Name: {{ course.course_name }} |
                    Teacher: {{ teacher_name }}
                    <form action="{{ url_for('views.drop_course', course_id=course.id) }}" class="float-right"
                          method="POST">
                        <button class="btn btn-danger btn-sm" type="submit">Drop Course</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Available Courses</h2>
            <ul class="list-group">
                {% for course, teacher_name in available_courses %}
                <li class="list-group-item">
                    Course Name: {{ course.course_name }} |
                    Teacher: {{ teacher_name }}
                    <form action="{{ url_for('views.enroll_course', course_id=course.id) }}" class="float-right"
                          method="POST">
                        <button class="btn btn-success btn-sm" type="submit">Enroll</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
