{% extends "base.html" %}
{% block title %} Your Courses {% endblock %}

{% block content %}
    <style>
        body {
            background-color: #F9F7F7;
        }

        .card-body {
            background-color: #DBE2EF;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            width: 100%;
            margin: auto;
        }

        .form-group label {
            display: flex;
            justify-content: flex-start;
        }

        .btn {
            color: #DBE2EF;
        }
    </style>

    <div class="container mt-5">
        <h1 align="center">Your Courses</h1>

        {% if courses %}
            <div class="row">
                {% for course in courses %}
                    <div class="col-md-4 mb-4 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.course_name }}</h5>

                                {% set course_pending_applications = pending_applications|selectattr('course_name', 'equalto', course.course_name)|list %}

                                {% if course_pending_applications %}
                                    {% for application in course_pending_applications %}
                                        <p class="card-text">Application
                                            Status: {{ application.StudentApplication.status }}</p>
                                        <p class="card-text">Student Name: {{ application.student_name }}</p>
                                        <a class="btn btn-success btn-sm"
                                           href="{{ url_for('views.process_enrollment', application_id=application.StudentApplication.id, action='approve') }}">Approve</a>
                                        <a class="btn btn-danger btn-sm"
                                           href="{{ url_for('views.process_enrollment', application_id=application.StudentApplication.id, action='decline') }}">Decline</a>
                                    {% endfor %}
                                {% else %}
                                    <p class="card-text">No pending applications</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No courses available.</p>
        {% endif %}
    </div>


{% endblock %}
